# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg

exclude: ^cue\.mod\/(?!module\.cue)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: check-toml
      - id: check-json
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: check-xml
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: detect-private-key
      - id: check-ast
        types: [tiltfile]
      - id: check-docstring-first
        types: [tiltfile]
      - id: double-quote-string-fixer
        types: [tiltfile]
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict]
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 40.36.8
    hooks:
      - id: renovate-config-validator
        args: [--strict]
  - repo: https://github.com/stackrox/kube-linter
    rev: v0.7.3
    hooks:
      - id: kube-linter-system
  - repo: https://github.com/Agilicus/pre-commit-hook-k8svalidate
    rev: v0.2.0
    hooks:
      - id: k8svalidate
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
