image:
  registry: docker.io
  repository: traefik
  tag: v3.4.1@sha256:cd40ab7bc1f047731d5b22595203812343efcb6538014c4e93221cfc3a77217a

providers:
  kubernetesIngress:
    enabled: false
  kubernetesCRD:
    enabled: false
  kubernetesGateway:
    enabled: true
    statusAddress:
      service:
        enabled: true

service:
  annotations:
    metallb.io/loadBalancerIPs: 10.42.42.1

gateway:
  listeners:
    web:
      namespacePolicy: All
