name: Publish OCI Image
on:
  push:
    branches:
      - main

permissions:
  packages: write # needed for ghcr.io access

jobs:
  publish:
    name: Publish Contents
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          experimental: true

      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
          logout: false

      - name: build
        run: mise run build

      - name: publish
        run: |
          OCI_REPO=oci://ghcr.io/dislogical/autolab/manifest
          IMAGE=$OCI_REPO:$(git rev-parse --short HEAD)

          # Push the manifest to the repo
          flux push artifact $IMAGE -f .cuebe/prod/kustomized.yaml \
            --reproducible \
            --source=$(git config --get remote.origin.url) \
            --revision=$(git branch --show-current)@sha1:$(git rev-parse HEAD) \
            --annotations='org.opencontainers.image.licenses=MIT' \
            --annotations='org.opencontainers.image.source=https://github.com/dislogical/autolab'

          # Tag the manifest as latest
          flux tag artifact $IMAGE --tag latest
