name: On Commit CI
on:
  - push

jobs:
  tilt-ci:
    name: Tilt CI - ${{ matrix.runtime.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        runtime:
          - name: Kind
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
        with:
          experimental: true

      - name: Run Tilt CI
        run: mise run test
