name: On Commit CI
on:
  - push

jobs:
  tilt-ci:
    name: Tilt CI - ${{ matrix.runtime.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        runtime:
          - name: Kind
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          experimental: true

      - name: Run Tilt CI
        run: mise run test
