name: On Commit CI
on:
  - push

jobs:
  tilt-ci:
    name: Tilt CI - ${{ matrix.runtime.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        runtime:
          - name: Kind
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: devenv

      - name: Install devenv.sh
        run: nix profile add nixpkgs#devenv

      - name: Run Tilt CI
        run: devenv ci
